[Unit]
Description=Ampq consumer app
After=multi-user.target
[Service]
Environment="PYTHONUNBUFFERED=1"
WorkingDirectory={{ app_home }}
User={{ app_user }}
Group={{ app_group}}
Type=idle
ExecStart={{ app_home}}/consumer.py
Restart=on-failure
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
